@font-face {
    font-family: "ClashDisplay SemiBold";
    src: url("../Product_Page/fonts/ClashDisplay-Semibold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "ClashDisplay Regular";
    src: url("../Product_Page/fonts/ClashDisplay-Regular.otf") format("opentype");
  }
  * {
    font-family: "ClashDisplay Regular", sans-serif;
  }

  /* ------------------------------ */

  #container{
    padding-top: 80px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }
  input {
    border-radius: 8px;
    border: 2px solid grey;
    padding: 12px;
    width: 250px;
  }
  .details {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .buttons {
    gap: 4px;
    display: flex;
    justify-content: space-between;
  }
  .checkbox{
    margin-top: 25px;
  }
  .checkbox {
    display: flex;
    justify-content: space-between;
  }
  .checkbox div {
    width: 93%;
    /* border: 1px solid red; */
  }
  #input_checkbox {
    border-radius: 8px;
    border: 2px solid grey;
    padding: 0px;
    width: 15px;
  }
  #cont {
    margin-top: 5px;
    /* border: 1px solid red; */
    padding: 15px;
    justify-content: end;
  }
  #delivery {
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(24, 81, 26);
    color: white;
    cursor: pointer;
    width: 100%;
    letter-spacing: 1px;
  }
  #indian-states {
    border: 1px solid red;
    border-radius: 8px;
    border: 2px solid grey;
    padding: 12px;
    width: 278px;
  }
  h1,h3 {
  color: rgb(24, 81, 26);
}
.city {
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 30px;
}
#backbtn {
  background-color: white;
  color: green;
  border: 2px solid #054203;
  border-radius: 10px;
}
#backbtn:hover {
  background-color: #97af97;
  color: #ffffff;
}
#paybtn {
  color: white;
  background-color: rgb(24, 81, 26);
  width: 100%;
  padding: 13px;
}
.contImg {
  width: 150px;
margin-top: -400px;
}
.contImg2 {
  width: 190px;
  margin-top: -80px;
}
.mainEmptyDiv {
  width: 38%;
  margin: auto;
}

.imgEmptyDiv img {
  width: 100%;
  /* filter: contrast(green); */
  filter: saturate(200%);

  /* Adjust the hue to make the image appear green */
  filter: hue-rotate(-60deg);
}

.mainEmptyDiv h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #486e00;
}
.mainEmptyDiv a {
  text-decoration: none;
  /* border: 1px solid red; */
  background-color: #486e00;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.mainEmptyDiv a:hover {
  background-color: #72ac08;
}
.link_catalog {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}